<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
    <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for pro in items %}
    <tr>
      <th scope="row">{{pro.uid}}</th>
      <td>{{pro.name}}</td>
      <td>{{pro.mail}}</td>
      <td>{{pro.pass}}</td>
      <td>{{pro.status}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>